//styling main components of about.html

#profile-img {
  height: 150px;
  border-radius: 50%;
  box-shadow: $blur-shadow;
}
.subtitle {
    font-family: $largefont;
    @include glowy-text;
    text-align: center;
  }

#about-main {
  margin: 3rem 10px 10px 10px;
  border: black solid 2px;
}

//flexbox for written contents plus image
.ab-container {
  display: flex;
  flex-wrap: wrap;
  border: green solid 2px;
  justify-content: center;

  .ab-child {
    border: red solid 2px;
    margin: 10px 0;
    p {
      font-size: 12px;
      padding: 10px;
    }
  }
}
