//adding basic stylings for blogs page
.blogs-main {
  h2 {
    color: rgb(255, 255, 255);
    text-shadow: $white-glow;
  }
  .blog-header {
    p {
      color: rgb(255, 255, 255);
      text-align: right;
    }
  }
  .blog-content {
    font-family: $smallfont;
    color: rgb(255, 255, 255);
    p {
      font-family: $smallfont;
      color: rgb(255, 255, 255);
      padding: 10px 0;
      font-size: 12px;
    }
    .button {
      box-shadow: 2px 2px 4px rgb(82, 96, 100), -2px -2px 4px rgb(82, 96, 100);
      background: $div-background;
      border: none;
      font-family: $smallfont;
      padding: 5px;
      font-size: 12px;
      a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      }
    }
  }
  .back-top {
    text-align: center;
  }
}

//adding flexbox to blog posts
.blogs-container {
  display: flex;
  flex-flow: row wrap;
  .blogs-child:hover {
    animation: changebkg 1s forwards;
  }
  .blogs-child {
    @include glowy-box($bkg-color: $div-background);
    animation-name: changebkg-reverse;
    animation-duration: 1s;
    margin: 10px 5px;
    padding: 10px;
  }
}

//adding flexbox within flexbox
.single-blog {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .photo {
    text-align: center;
    .blog-img {
      width: 100%;
      height: auto;
      box-shadow: $blur-shadow;
    }
  }
}

//media queries
@media only screen and (min-width: 600px)/* and (max-width: 780px)*/ {
  /* For tablets: */
  .blogs-container {
    margin: 20px;

    //animation with pseudo
    .blogs-child:hover {
      .blog-img {
        --endWidth: 98%;
        animation: div-expand 1s forwards;
      }
    }
    .blogs-child {
      padding: 20px;
      .blog-img {
        width: 92%;
        --endWidth: 98%;
        --startWidth: 92%;
        animation-name: div-expand-reverse;
        animation-duration: 0.5s;
      }
      .flip {
        order: -1;
      }
    }
    .blog-content {
      p {
        font-size: 14px;
      }
      .button {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 780px) {
  /* For desktop: */
    .blogs-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
      #toronto {
        align-self: flex-end;
      }
      #cambodia {
        align-self: flex-end;
      }
      .blogs-child:hover {
        --endWidth: 100%;
        animation: div-expand 1.3s forwards;
        transform: scaleY(1);
        .photo {
            --endWidth: 65%;
            animation: div-expand 1.3s forwards;
        }
        .flip {
            order: 0;
        }
        .blog-header {
            width: 100%;
        }
      }
      .blogs-child {
        //keyframe animation when unhovered
        --endWidth: 100%;
        --startWidth: 75%;
        animation-name: div-expand-reverse;
        animation-duration: 1s;
        .blog-img {
          height: 300px;
          object-fit: cover;
        }
      }
    }
}
