//styling for contacts page

.contact-description {
  margin: 10px auto;
  max-width: 530px;
  text-align: center;
   p {
     text-align: center;
   }
}
form {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  max-width: 500px;
  label {
    display: block;
    @include regular-text;
  }
  input {
    display: block;
    width: 100%;
    line-height: 1.5;
    background: $div-background;
  }
  textarea {
    display: block;
    width: 100%;
    background: $div-background;
    color: rgb(255, 255, 255);
  }
  ::placeholder {
    color: rgba(101, 216, 255, 0.9);
  }
  .sendbutton {
    text-align: center;
    button {
      @include glowy-box;
      font-family: $smallfont;
      line-height: 2;
      padding: 3px 10px;
      margin-top: 10px;
      border: none;
    }
  }
}
