// creating flexbox for main section of home page

#home-container {
  border: red solid 2px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;

  .home-child {
    border: black 2px solid;
    text-align: center;
    padding: 10px 15px;
    p {
      margin-top: 10px;
    }
  }
}
#profile-img {
  height: 150px;
  border-radius: 50%;
  box-shadow: $blur-shadow;
}

//media queries
@media only screen and (min-width: 600px) {
  /* For tablets: */

  .home-child {
    margin: 20px;
    p {
      padding: 10px 20px;
    }
  }
  #profile-img {
    height: 200px;
  }
}
@media only screen and (min-width: 780px) {
  /* For desktop: */
  .home-main {
    margin: 4rem 20px 20px 20px;
    padding-top: 3rem;
    #home-container {
      align-content: center;
    }
  }
}
