@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display&display=swap');

$largefont: 'Cormorant Garamond', serif;
$smallfont: 'Playfair Display', serif;;
$transparent-color: rgba(123, 177, 212, 0.9);
$text-color: rgb(89, 107, 112);
$blur-shadow: 0 0 4px rgb(63, 102, 112);
$div-background: rgba(93, 109, 114, 0.8);

@mixin glowy-text {
    color:rgb(255, 255, 255);
    text-shadow: 0 0 4px rgb(27, 148, 182);
}

@mixin glowy-box ($bkg-color:rgb(255, 255, 255)){
    background: $bkg-color;
    box-shadow: 0 0 4px $bkg-color;
}

@mixin regular-text {
    color: $text-color;
    line-height: 1.5;
}

@mixin icon-glow ($color: rgba(255, 255, 255, 0.9)) {
    color: $color;
    text-shadow: 0 0 2px $color;
}

